$clr1: #e7eef7;
$clr2: #f5f6fa;
$clr3: #98a0b0;
$clr4: #2d374a;
$clr5: #e3e3e3;
$clr6: #e1e3df;
$clr7: #595959;
$clr8: #757575;

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1340px;
